@media(min-width: 768px) {
    
    .links  {
        width: 70%;
    }
}

@media(min-width: 1024px) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #social-links {
        width: 70%;
        height: 90%;
        border-radius: 5px;
    }


    .links {
        width: 60%;
    }
}

@media(min-width: 1366px) {

    #social-links {
        width: 30%;
    }

    .links {
        width: 30%;
    }
}